.wrap {
    width:100%;
    overflow:hidden;
    
  }
  .swiper-container {
    width:100%;
    margin:0 auto;
    overflow:visible;
    height:400px;
  }
  
  .swiper-slide {
    display:flex;
    justify-content:center;
    align-items:flex-end;
    width:300px;
    transition:none;
  }
  
  .swiper-slide .cont {
    text-align:center;
  }
  
  .swiper-slide img {
    width:100%;
    display:block;
  }
  .swiper-slide span {
    display:inline-block;
    margin-top:20px;
  }
  
  .changing,
  .changed {  
    transform:translateX(-100px);
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .changing {
    transition:transform 0.3s;
    pointer-events:none;
  }
  
  .changed {  
    transition:none;
  }
  
  .changing.swiper-slide-active,
  .changed.swiper-slide-active {
    transform:translateX(0);
  }
  
  .swiper-slide-active ~ .changing,
  .swiper-slide-active ~ .changed {
    transform:translateX(100px);
  }
  
  .changing .img-wrap,
  .changed .img-wrap {
    transform-origin:center bottom;
  }
  
  .changing .img-wrap {
    transition:transform 0.3s;
  }
  
  .changed .img-wrap {  
    transition:none;
  }
  
  .changing.swiper-slide-active .img-wrap,
  .changed.swiper-slide-active .img-wrap {
    transform:scale(1.66);
  }