.blessing .input {
    // caret-color: auto; /* 預設 */
    // caret-color: transparent; /* 透明 */
    caret-color: #FF1744;
    /* 指定色 */

    width: 100%;
    // font-size: 22px;
    // margin: 10px;
    outline: none;
    border: none;
    border-bottom: solid #D0D0D0;
    border-radius: 0%;
}

.blessing input:focus {
    border-bottom: solid #FF1744;
}

.blessing textarea {
    width: 100%;
    outline: none;
    border: solid #D0D0D0;
}

.blessing textarea:focus {
    border: solid #FF1744;
}

.blessing .submit,
.blessing .sheet {
    color: #fff;
    background-color: #FF1744;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;

    /*移除預設樣式*/
    -webkit-appearance: none;
    /* Safari 和 Chrome，常用於 iOS 移除內建樣式 */
    -moz-appearance: none;
    /* FireFox */
    appearance: none;
}

.blessing .sheet {
    padding: 0;
}

.blessing .sheet a {
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
}