.blessing .input {
    // caret-color: auto; /* 預設 */
    // caret-color: transparent; /* 透明 */
    caret-color: #FF1744;
    /* 指定色 */

    width: 100%;
    // font-size: 22px;
    // margin: 10px;
    outline: none;
    border: none;
    border-bottom: solid 1px #D0D0D0;
    border-radius: 0%;
}

.blessing input:focus {
    border-bottom: solid 1px #FF1744;
}

.blessing textarea {
    width: 100%;
    outline: none;
    border: solid 1px #D0D0D0;
}

.blessing textarea:focus {
    border: solid 1px #FF1744;
}

.blessing .submit,
.blessing .sheet {
    color: #fff;
    background-color: #FF1744;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
}

.blessing .sheet {
    padding: 0;
}

.blessing .sheet a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
}