.bg-cover {
    background-size: cover;
    background-position: 40% center;
    background-repeat: no-repeat;  
}

.bg-attachment-fixed {
    //background-attachment: fixed; //ios不支援
    position: fixed; //ios支援
}

.cover p{
    text-shadow: rgb(42, 41, 38) 1px 0 10px;
    color: #F2E3CE
}

