.bg-cover {
    background-size: cover;
    background-position: 25% center;
    background-repeat: no-repeat;
}

.bg-attachment-fixed {
    background-attachment: fixed;
}

// p{
//     line-height: 65px;
// }