.bg-cover {
    background-size: cover;
    background-position: 25% center;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 900px;
    background-image: url("/images/DSC_1536.jpg")
}

.bg-attachment-fixed {
    background-attachment: fixed;
}

// style="top: 0px; left: 0px;right: 0px;bottom: 0px;width: auto; height:900px;background-image:url(./images/DSC_1536.jpg)"