@font-face{
    font-family:  'ZapfinoLinotypeOne';
    src: url('/fonts/ZapfinoLinotypeOne.woff2') format('woff2');
};

.font-family-ZapfinoLinotypeOne{
    font-family: 'ZapfinoLinotypeOne'
}


@font-face{
    font-family:  'jfopenhuninn2';
    src: url('/fonts/jf-openhuninn-2.0.ttf') format('truetype');
};

.font-family-jfopenhuninn2{
    font-family: 'jfopenhuninn2'
}


@font-face{
    font-family: '華康秀風體';
    src: url('/fonts/華康秀風體.woff') format('woff');
};

.font-family-aaa{
    font-family: '華康秀風體'
}

//字體無法載入原因
//根目錄下的node_modules文件下的bootstrap下的dis文件夾沒有fonts文件夾
//解決方法
//重新npm i bootstrap@5.3.3
//然後直接在index.html加style