@font-face{
    font-family:  'ZapfinoLinotypeOne';
    src: url('/fonts/ZapfinoLinotypeOne.woff2') format('woff2');
};

.font-family-ZapfinoLinotypeOne{
    font-family: 'ZapfinoLinotypeOne'
}


@font-face{
    font-family:  'jfopenhuninn2';
    src: url('/fonts/jf-openhuninn-2.0.ttf') format('truetype');
};

.font-family-jfopenhuninn2{
    font-family: 'jfopenhuninn2'
}


@font-face{
    font-family: '華康秀風體';
    src: url('/fonts/華康秀風體.woff') format('woff');
};

.font-family-aaa{
    font-family: '華康秀風體'
}