//橫向導覽列
.box{
    height: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    position: fixed;
    top: 0em;
    width: 100%;
    background: #fff;
    z-index: 100;
  }

  a{
    margin-right: auto;
  }

  .logo{
    height: 65px;
    padding-left: 15px;
  }

  .down {
    height: 0;
    overflow: hidden;
    transition: all 400ms;
  }
  
  .up {
    transition: all 400ms;
    height: 65x;
  }

//漢堡選單效果
/*
選單線
*/
.line {
    width: 90px;
    height: 65px;
    background: transparent;
    // cursor: pointer;
    display: block;
    //padding: 16px;
    // position: fixed; //註解這屬性，就可以跟橫向導覽列一起隱藏
    z-index: 2;
    display: flex;
    justify-content: end;
}
.line .menu,
.line .menu::before,
.line .menu::after {
    background: #222;
    content: '';
    display: block;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: background ease .1s, top ease .1s .1s, transform ease .1s;
    width: 40px;
}
.line .menu {
    right: 20px;
    z-index: 4;
    top: 32px;
}

.line .menu::before {
    top: -10px;
    // right: -5px;
    width: 30px;
    right: 0;
}

.line .menu::after {
    top: 10px;
    // right: 5px;
    width: 50px;
    right: 0;
}
/*
點選選單變叉叉
*/
#menu:checked + .line .menu {
    background: transparent;
}

#menu:checked + .line .menu::before {
    transform: rotate(45deg);
    right: 0;
    width: 40px;
}

#menu:checked + .line .menu::after {
    transform: rotate(-45deg);
    right: 0;
    width: 40px;
}

#menu:checked + .line .menu::before,
#menu:checked + .line .menu::after {
    top: 0;
    transition: top ease .1s, transform ease .1s .1s;
}

/*
選單開合
*/
#menu:checked ~ .menu-list {
    width: 300px; // 開合方向height或width
}
// #menu:checked ~ .asd {
//     width: 100%; // 開合方向height或width
// }


.menu-list {
    width: 0;
    height: 100vh;
    background: #fff;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 1;
    transition: all .6s;
    overflow: hidden;

}

:root {
    scroll-padding-top: 60px; //避免滑到指定區塊被nav擋住，70px為橫向nav高度
  }

// .asd{
//     backdrop-filter:blur(5px);
//     height: 100vh;
//     position: fixed;
//     z-index: 1;
//     transition: all .6s;
//     overflow: hidden;
// }

/*
選單向外推
*/
.menu-list ul {
    display:block;
    list-style: none;
    margin-top: 100px;
    padding: 0;
    line-height: 100px;
  
}

.menu-list ul>li{
    display:block;
    width:300px;
    text-align: center;
}

.menu-list ul>li>a{
    display:block;
    text-decoration: none;
    color: #000;
}

.menu-list ul>li>a:hover{
    text-decoration: underline;
    text-decoration-color:red;
    text-underline-offset: 6px;


}



/*
隱藏核許框
*/
input#menu {
 display: none;
}